<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="AutoMail">
      <section name="Email" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Password" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Server" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <AutoMail>
    <Email>
      <add key="email" value="no.rely.1234@gmail.com"></add>
    </Email>
    <Password>
      <add key="pass" value="chuvitcon"></add>
    </Password>
    <Server>
      <add key="mailsever" value="smtp.gmail.com"></add>
    </Server>
  </AutoMail>
  <connectionStrings>
    <add name="QLCB" connectionString="Data Source=.;Initial Catalog=hutstaff_9_8;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <!--<add name="QLCB" connectionString="Data Source=.;Initial Catalog=hutstaff_9_8;Integrated Security=True"
     providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <sessionState timeout="30"></sessionState>
  </system.web>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
