
SET IDENTITY_INSERT [dbo].[baohiem93] ON
INSERT [dbo].[baohiem93] ([id], [tgbd_bh93], [tgkt_bh93], [mota], [hsluong], [phucap], [sothang], [tongtien], [shcc]) VALUES (6, CAST(0x00006D4300000000 AS DateTime), CAST(0x00007B8700000000 AS DateTime), N'Cán bộ giảng dạy khoa Điện, Trường Đại học Bách khoa Hà Nội', NULL, NULL, NULL, NULL, 460)
INSERT [dbo].[baohiem93] ([id], [tgbd_bh93], [tgkt_bh93], [mota], [hsluong], [phucap], [sothang], [tongtien], [shcc]) VALUES (7, CAST(0x00007BA600000000 AS DateTime), CAST(0x00007D6E00000000 AS DateTime), N'Thực tập sinh tại Pháp', NULL, NULL, NULL, NULL, 460)
INSERT [dbo].[baohiem93] ([id], [tgbd_bh93], [tgkt_bh93], [mota], [hsluong], [phucap], [sothang], [tongtien], [shcc]) VALUES (8, CAST(0x00007D8D00000000 AS DateTime), CAST(0x000084EB00000000 AS DateTime), N'Cán bộ giảng dạy khoa Điện', NULL, NULL, NULL, NULL, 460)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
SET IDENTITY_INSERT [dbo].[baohiem93] OFF
/****** Object:  Default [DF__baohiem93__tgbd___014935CB]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__tgbd___014935CB]  DEFAULT (NULL) FOR [tgbd_bh93]
GO
/****** Object:  Default [DF__baohiem93__tgkt___023D5A04]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__tgkt___023D5A04]  DEFAULT (NULL) FOR [tgkt_bh93]
GO
/****** Object:  Default [DF__baohiem93__mota__03317E3D]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__mota__03317E3D]  DEFAULT (NULL) FOR [mota]
GO
/****** Object:  Default [DF__baohiem93__hsluo__0425A276]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__hsluo__0425A276]  DEFAULT (NULL) FOR [hsluong]
GO
/****** Object:  Default [DF__baohiem93__phuca__0519C6AF]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__phuca__0519C6AF]  DEFAULT (NULL) FOR [phucap]
GO
/****** Object:  Default [DF__baohiem93__sotha__060DEAE8]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__sotha__060DEAE8]  DEFAULT ((0)) FOR [sothang]
GO
/****** Object:  Default [DF__baohiem93__tongt__07020F21]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__tongt__07020F21]  DEFAULT (NULL) FOR [tongtien]
GO
/****** Object:  Default [DF__baohiem93__shcc__07F6335A]    Script Date: 09/28/2012 13:58:02 ******/
ALTER TABLE [dbo].[baohiem93] ADD  CONSTRAINT [DF__baohiem93__shcc__07F6335A]  DEFAULT (NULL) FOR [shcc]
GO
