<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <menus>
    <!--Xem thông tin-->
    <menu type="view" name="Thông tin chung" permission="0" alias="xtt-thong-tin-chung" path="/Xemthongtin/Controls/Thongtinchung.ascx"></menu>
    <menu type="view" name="Trình độ ngoại ngữ" permission="0" alias="xtt-trinh-do-ngoai-ngu" path="/Xemthongtin/Controls/TrinhdoNgoaingu.ascx"></menu>
    <menu type="view" name="Các chức danh" permission="0" alias="xtt-cac-chuc-danh" path="/Xemthongtin/Controls/Cacchucdanh.ascx"></menu>
    <menu type="view" name="Chức vụ chính quyền" permission="0" alias="xtt-chuc-vu-chinh-quyen" path="/Xemthongtin/Controls/Chucvuchinhquyen.ascx"></menu>
    <menu type="view" name="Chức vụ Đảng" permission="0" alias="xtt-chuc-vu-dang" path="/Xemthongtin/Controls/Chucvudang.ascx"></menu>
    <menu type="view" name="Chức vụ đoàn thể" permission="0" alias="xtt-chuc-vu-doan-the" path="/Xemthongtin/Controls/Chucvudoanthe.ascx"></menu>
    <menu type="view" name="Khen thưởng" permission="0" alias="xtt-khen-thuong" path="/Xemthongtin/Controls/Khenthuong.ascx"></menu>
    <menu type="view" name="Kỷ luật" permission="0" alias="xtt-ky-luat" path="/Xemthongtin/Controls/Kyluat.ascx"></menu>
    <menu type="view" name="Diễn biến lương" permission="0" alias="xtt-dien-bien-luong" path="/Xemthongtin/Controls/Dienbienluong.ascx"></menu>
    <menu type="view" name="Quan hệ gia đình" permission="0" alias="xtt-quan-he-gia-dinh" path="/Xemthongtin/Controls/Quanhegiadinh.ascx"></menu>
    <menu type="view" name="Nước ngoài đã đến" permission="0" alias="xtt-nuoc-ngoai-da-den" path="/Xemthongtin/Controls/Nuocngoaidaden.ascx"></menu>
    <menu type="view" name="Quá trình đào tạo" permission="0" alias="xtt-qua-trinh-dao-tao" path="/Xemthongtin/Controls/Quatrinhdaotao.ascx"></menu>
    <menu type="view" name="Quá trình bồi dưỡng" permission="0" alias="xtt-qua-trinh-boi-duong" path="/Xemthongtin/Controls/Quatrinhboiduong.ascx"></menu>
    <menu type="view" name="Quá trình công tác" permission="0" alias="xtt-qua-trinh-cong-tac" path="/Xemthongtin/Controls/Quatrinhcongtac.ascx"></menu>
    <menu type="view" name="Thông tin BHXH" permission="0" alias="xtt-thong-tin-bhxh" path="/Xemthongtin/Controls/BHXH.ascx"></menu>

    <menu type="admin" name="Xét tăng lương" permission="0" alias="view-tang-luong" path="/Controls/Quanly/Import/TangLuong/View.ascx"></menu>

  </menus>
  <controls>
    <control>
      <control alias="pager-tang-luong" permission="0" path="/Controls/Quanly/Import/TangLuong/Pager.ascx"></control>
      <control alias="danh-sach-tang-luong" permission="0" path="/Controls/Quanly/Import/TangLuong/Search.ascx"></control>
      <control alias="pager-tim-kiem" permission="0" path="/Controls/Timkiem/Pager.ascx"></control>
      <control alias="danh-sach-tim-kiem" permission="0" path="/Controls/Timkiem/Search.ascx"></control>
    </control>
  </controls>
</settings>